* {
    border: none;
    border-radius: 0px;
    font-family: "Hack Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 10px;
    min-height: 8px;
    color: @main-fg;
}

@import "theme.css";

window#waybar {
    background: @bar-bg;
    margin: 0;
    padding: 0;
}

tooltip {
    background: @main-bg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    margin: 0;
    padding: 0 10px;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#cpu,
#memory,
#temperature {
    margin: 0 5px;
}

#power,
#bluetooth {
    margin: 0 5px;
}
